.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}
.Paper_v2 {
  background-image: repeating-linear-gradient(
      to bottom,
      transparent 25px,
      rgb(211, 211, 211) 26px,
      rgb(211, 211, 211) 26px,
      transparent 27px,
      transparent 51px,
      rgb(211, 211, 211) 52px,
      rgb(211, 211, 211) 52px,
      transparent 53px,
      transparent 77px,
      rgb(211, 211, 211) 78px,
      rgb(211, 211, 211) 78px,
      transparent 79px,
      transparent 103px,
      rgb(211, 211, 211) 104px,
      rgb(211, 211, 211) 104px,
      transparent 105px,
      transparent 129px,
      rgb(211, 211, 211) 130px,
      rgb(211, 211, 211) 130px
    ),
    repeating-linear-gradient(
      to right,
      transparent 25px,
      rgb(211, 211, 211) 26px,
      rgb(211, 211, 211) 26px,
      transparent 27px,
      transparent 51px,
      rgb(211, 211, 211) 52px,
      rgb(211, 211, 211) 52px,
      transparent 53px,
      transparent 77px,
      rgb(211, 211, 211) 78px,
      rgb(211, 211, 211) 78px,
      transparent 79px,
      transparent 103px,
      rgb(211, 211, 211) 104px,
      rgb(211, 211, 211) 104px,
      transparent 105px,
      transparent 129px,
      rgb(211, 211, 211) 130px,
      rgb(211, 211, 211) 130px
    );
}

/*=============
base
==============*/

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*ヘッダー*/

.menu {
  font-size: 30px;
  font-weight: bolder;
  color: black;
  padding-top: 35px;
  padding-left: 130px;
  letter-spacing: 10px;
  font-family: "Nico Moji";
}

header {
  width: 100%;
  height: 85px;
  background-color: #b0c4de;
}

.header-inner {
    display: flex;
    align-items: center;
    max-width: 1024px;
    height: 50px;
    font-size: 1.2em;
}

button {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  max-width: 180px;
  border-radius: 4px;
  padding: 20px 30px;
}

.header-button {
    color: rgba(30, 22, 54, 0.6);
    font-family: "M PLUS Rounded 1c";
    font-size: 18px;
    font-weight: bold;
    width: 155px;
    height: 45px;
    padding-top: 8px;
    background: none;
    margin-left: -175px;
    margin-top: 1px;
    border: 2px solid;
    border-color: rgba(30, 22, 54, 0.4);
}

.header-logout {
    text-align: center;
    font-family: "M PLUS Rounded 1c";
    margin-top: -5px;
    padding-left: 210px;
    position: absolute;
}

button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
  border-color: rgba(30, 22, 54, 0.6);
}

.wrap {
    text-align: center;
    margin-top: -84px;
    font-family: "M PLUS Rounded 1c";
    display: inline-block;
}

a {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
}

a.button-home {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgb(30 22 54 / 40%) 0 0px 0px 2px inset;
  /* float: left; */
  font-family: "M PLUS Rounded 1c";
  font-size: 18px;
  font-weight: bold;
  /* margin-bottom: -2px; */
  margin-top: 140px;
  margin-left: 400px;
  width: 108px;
  height: 15px;
  padding-bottom: 20px;
  padding-top: 10px;
}

a.button-home:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

a.button-menu {
  margin-top: -65px;
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgb(30 22 54 / 40%) 0 0px 0px 2px inset;
  /* float: right; */
  font-family: "M PLUS Rounded 1c";
  font-size: 18px;
  font-weight: bold;
  /* margin-left: 40px; */
  /* margin-right: -179px; */
  padding-top: 10px;
  padding-bottom: 20px;
  width: 108px;
  height: 15px;
}

a.button-menu:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

/*ここまでがヘッダー↑*/

a.btn-main {
  color: #ffffff;
  background: #4682b4;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 30px;
  width: 230px;
  display: block;
  padding-top: 5px;
}

a.btn-main:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/twotone_home_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn-main:hover {
  background: #4169e1;
}

a.btn-todo {
  color: #ffffff;
  background: #4682b4;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 30px;
  width: 230px;
  display: block;
  padding-top: 5px;
}

a.btn-todo:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/twotone_check_circle_outline_black_24dp.png")
    no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn-todo:hover {
  background: #4169e1;
}

a.btn-select {
  color: #ffffff;
  background: #4682b4;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 30px;
  width: 230px;
  display: block;
  padding-top: 5px;
}

a.btn-select:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/twotone_person_search_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn-select:hover {
  background: #4169e1;
}

a.btn-emergencyContact {
  color: #ffffff;
  background: #4682b4;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 30px;
  width: 230px;
  display: block;
  padding-top: 5px;
}

a.btn-emergencyContact:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/twotone_phone_in_talk_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn-emergencyContact:hover {
  background: #4169e1;
}

/*フッター*/

footer {
  width: 100%;
  height: 50px;
  background-color: #b0c4de;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  /*←絶対位置*/
}

p {
  font-family: system-ui, sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  color: black;
  padding-top: 8px;
}

/*吹き出しの記述*/

.mybox {
  border: 5px solid #708090;
  border-radius: 5px;
  padding: 45px 10px 10px 10px;
  position: relative;
  z-index: 0;
  height: 250px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.5%;
  margin-bottom: 6.5%;
  background-color: white;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c";
}

.mybox:before {
  background-color: #708090;
  color: #fff;
  content: "インフォメーション";
  height: 25px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mybox:after {
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #708090 transparent transparent transparent;
  /* 吹き出し三角部分の色 */
  content: "";
  position: absolute;
  top: 35px;
  left: 10px;
  width: 0px;
  height: 0px;
  z-index: 1;
}

.text {
  font-family: "M PLUS Rounded 1c";
  font-size: 1.2rem;
  letter-spacing: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

a.btn {
  color: #ffffff;
  background: #4682b4;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 22px;
  width: 70px;
  display: block;
  padding-top: 14px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  border: #fff;
  /* padding: 10px 10px 30px 10px; */
  font-size: 18px;
  border-radius: 8px;
}

a.btn:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/baseline_thumb_up_alt_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn:hover {
  background: #4169e1;
}
