body {
  margin: 0;
  height: 100%;
  background: #f0f8ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-image: radial-gradient(
      290px 300px,
      rgba(123, 222, 217, 0.5) 20%,
      transparent 20%
    ),
    radial-gradient(800px 780px, rgba(123, 222, 217, 0.5) 20%, transparent 20%),
    radial-gradient(1000px 990px, rgba(123, 222, 217, 0.5) 20%, transparent 20%),
    radial-gradient(400px 380px, rgba(123, 222, 217, 0.5) 20%, transparent 20%),
    radial-gradient(750px 750px, rgba(123, 222, 217, 0.5) 20%, transparent 20%),
    radial-gradient(100px 100px, rgba(123, 222, 217, 0.5) 20%, transparent 20%);
  background-size: 1230px 1280px, 810px 910px, 1470px 990px, 1200px 1700px,
    1520px 1200px, 1100px 1300px;
  background-position: -300px -550px, -200px 100px, 50px 510px, -200px -550px,
    -180px -250px, 130px -150px;
}

.role {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 3px;
  float: left;
  background-color: white;
  position: absolute;
  top: 80px;
  z-index: 2;
  margin-left: 200px;
  text-decoration: none;
  font-size: 15px;
}

.role:hover {
  background: #00ced1;
}

a.role {
  color: white;
  background-color: #87cefa;
  border-bottom: 0px solid white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c";
  font-weight: bold;
  font-size: 20px;
  margin-left: 125px;
  margin-top: -10px;
}

header {
  width: 100%;
  height: 120px;
  background-color: #add8e6;
}

.header-box {
  background: #ffffff;
  margin-top: 68px;
  margin-left: 170px;
}

.header-inner {
  display: flex;
  align-items: center;
  max-width: 1024px;
  height: 50px;
  font-size: 1.2em;
}

.header-button {
  background: white;
  color: #4169e1;
  font-family: "Roboto", sans-serif;
  border: 0;
  margin-right: -300px;
  margin-left: 324px;
  color: black;
  background-color: #87cefa;
  border-bottom: 0px solid white;
}

.header-logout {
  color: white;
  padding: 4px;
  margin-top: 70px;
  float: right;
  font-size: 20px;
  font-family: "M PLUS Rounded 1c";
  font-weight: bold;
  width: 110px;
  margin-bottom: 6px;
}

button:hover {
  background: #00ced1;
}

.menu {
  font-size: 30px;
  font-weight: bolder;
  color: black;
  padding-top: 60px;
  padding-left: 69px;
  letter-spacing: 10px;
  font-family: "Nico Moji";
}

p {
  font-family: system-ui, sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  color: black;
  padding-top: 15px;
}

main .form {
  background: #ffffff;
  width: 750px;
  height: 280px;
  padding: 60px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
  margin-bottom: 35px;
  margin-left: 40px;
  font-family: "M PLUS Rounded 1c";
}

a.btn-insert {
  color: #ffffff;
  background: #87cefa;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 40px;
  width: 170px;
  display: block;
  padding-top: 10px;
  margin-left: auto;
  font-size: 1.2em;
  margin-top: 25px;
  margin-right: auto;
  border-radius: 5px;
}

a.btn-insert:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/baseline_done_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn-insert:hover {
  background: #00ced1;
}

a.btn-main {
  color: #ffffff;
  background: #87cefa;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 30px;
  width: 230px;
  display: block;
  padding-top: 5px;
}

a.btn-main:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/baseline_home_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn-main:hover {
  background: #00ced1;
}

a.btn-todo {
  color: #ffffff;
  background: #87cefa;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 30px;
  width: 230px;
  display: block;
  padding-top: 5px;
}

a.btn-todo:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/baseline_get_app_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn-todo:hover {
  background: #00ced1;
}

a.btn-select {
  color: #ffffff;
  background: #87cefa;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 30px;
  width: 230px;
  display: block;
  padding-top: 5px;
}

a.btn-select:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/baseline_search_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn-select:hover {
  background: #00ced1;
}

a.btn-emergencyContact {
  color: #ffffff;
  background: #87cefa;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 30px;
  width: 230px;
  display: block;
  padding-top: 5px;
}

a.btn-emergencyContact:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/baseline_phone_in_talk_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

a.btn-emergencyContact:hover {
  background: #00ced1;
}

/*フッター*/
footer {
  width: 100%;
  height: 50px;
  background-color: #add8e6;
  font-size: 20px;
}

footer p {
  font-family: system-ui, sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  color: black;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-family: "M PLUS Rounded 1c";
  font-size: 1.2rem;
  letter-spacing: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.align-light {
  text-align: right;
}

.update-form {
  margin-bottom: 35px;
}

input:valid {
  background: transparent;
}

input:focus {
  background: #e9fffd;
  border-radius: 3px;
}

.container {
  text-align: center;
}

.btn {
  color: #ffffff;
  background: #87cefa;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  height: 50px;
  width: 100px;
  display: block;
  padding-top: 5px;
  margin-top: 40px;
  margin-left: 225px;
  border: #fff;
  padding: 10px 10px 30px 10px;
  font-size: 18px;
  border-radius: 8px;
}

.btn:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 5px;
  background: url("../img/baseline_done_black_24dp.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.btn:hover {
  background: #00ced1;
}

.select-form {
  border: 5px solid #5f9ea0;
  border-radius: 5px;
  padding: 25px 20px 75px 20px;
  position: relative;
  z-index: 0;
  height: 1060px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: white;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c";
}

.texta {
  font-family: "M PLUS Rounded 1c";
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  margin-left: 19%;
  margin-bottom: 40px;
}

.update-text {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
}

.input-box {
  background: #fff;
  border: none;
  border-bottom: 2px solid #87cefa;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  transition: border-color 0.3s;
  width: 350px;
}

.input-box:focus {
  border-bottom: 2px solid #00a4a7;
  outline: none;
}

.input-box-3:focus {
  border-bottom: 2px solid #00a4a7;
  outline: none;
}

.input-box-4:focus {
  border-bottom: 2px solid #00a4a7;
  outline: none;
}

label {
  font-size: 16.5px;
}

.p-err {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 16px;
    color: red;
    margin-left: -15px;
}

.p-err1 {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 12px;
    color: red;
    margin-left: 205px;
}

.p-err2 {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 12px;
    color: red;
    margin-left: 150px;
}

.p-err3 {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 12px;
    color: red;
    margin-left: 115px;
}

.p-err4 {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 12px;
    color: red;
    margin-left: 148px;
}

.p-err5 {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 12px;
    color: red;
    margin-left: 55px;
}

.p-err6 {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 12px;
    color: red;
    margin-left: 115px;
}

.p-err7 {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 12px;
    color: red;
    margin-left: 65px;
}

.p-err8 {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 12px;
    color: red;
    margin-left: 77px;
}

.p-err9 {
     margin-top: -38px;
    margin-bottom: 13px;
    letter-spacing: 2px;
    font-size: 12px;
    color: red;
    margin-left: 78px;
}
